section {
  border: solid black;
  background-color: lightyellow;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  h3 {
    color: rebeccapurple;
    grid-column: 1 / -1; /* zajmuje całą szerokość */
    text-align: center;
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  p {
    text-align: center;
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
